body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

h2, p, h4 {
  margin: 10px;
  padding: 10px;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #111111;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

#portrait {
  width: 30%;
  height: 30%;
}

.my-name {
  color: white;
  font-size: 25px;
  padding: 6px;
}

/* Generated Table Formatting Garbage */

.tg  {border:none;border-collapse:collapse;border-spacing:0;margin: 10px;
  padding: 10px;}
.tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
  padding:10px 5px;word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-m6gx{border-color:inherit;font-family:Verdana, Geneva, sans-serif !important;font-size:16px;text-align:center;
  vertical-align:top}
.tg .tg-4qij{font-family:Verdana, Geneva, sans-serif !important;font-size:16px;text-align:center;vertical-align:top}
.tg .tg-6uti{border-color:inherit;font-family:Verdana, Geneva, sans-serif !important;font-size:16px;text-align:right;
  vertical-align:top}
.tg .tg-hlu1{font-family:Verdana, Geneva, sans-serif !important;font-size:16px;text-align:left;vertical-align:top}
.tg .tg-98wp{border-color:inherit;font-family:Verdana, Geneva, sans-serif !important;font-size:16px;text-align:right;
  vertical-align:top}
.tg .tg-9efg{font-family:Verdana, Geneva, sans-serif !important;font-size:16px;text-align:right;vertical-align:top}
.tg .tg-83bi{border-color:inherit;font-family:Verdana, Geneva, sans-serif !important;font-size:16px;text-align:center;
  vertical-align:top}
.tg .tg-hvap{border-color:inherit;font-family:Verdana, Geneva, sans-serif !important;font-size:16px;text-align:left;
  vertical-align:top}
.tg .tg-bld0{border-color:inherit;font-family:Verdana, Geneva, sans-serif !important;font-size:16px;text-align:left;
  vertical-align:top}
.tg .tg-egga{font-family:Verdana, Geneva, sans-serif !important;font-size:16px;text-align:left;vertical-align:top}
.tg .tg-sx3s{font-family:Verdana, Geneva, sans-serif !important;font-size:16px;text-align:center;vertical-align:top}
.tg .tg-vurl{font-family:Verdana, Geneva, sans-serif !important;font-size:16px;text-align:right;vertical-align:top}

#matrixWrapper {
    display: inline-block;
}

#matrixTable .tabulator-table {
    width: auto !important;   /* prevents full-page stretching */
}

#matrixTable {
    display: inline-block;    /* keeps the table only as wide as needed */
}
